.app {
  margin: 30px 50px;
  padding-left: 30px;
  background-color: black;
}
.logo{
  width: 100px;
  height: 65px;
  background-color: black;
}
.movies{
  display: flex;
  
}
.movieItem{
  margin-left: 10px;
}

.movieItem:hover button{
  visibility:visible;
}
button.testing{
  background-color: yellow;
  width: 200px;
  height: 250px;
  color:white;
}
button {
  visibility:hidden;
  position: relative;
  left: 25%;
  margin-top: 10px;
  border-radius: 12% 12%;
}

.title {
  text-align:center;
}
h3,h2,div.title, li{
  color:white;
}

