.app {
  margin: 30px 50px;
}

.movies{
  display: flex;
  
}
.movieItem{
  margin-left: 10px;
}

.movieItem:hover button{
  visibility:visible;
}

button {
  visibility:hidden;
  position: relative;
  left: 25%;
  margin-top: 10px;
  border-radius: 12% 12%;
}

.title {
  text-align:center;
}


